/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/



html {
  background-image: url(https://ichef.bbci.co.uk/news/800/cpsprodpb/12A9B/production/_111434467_gettyimages-1143489763.jpg);
}

h1 {
  font-size: 100px;
}

.grid {
  display: grid;
  grid-template: 50px 100px / repeat(2, 37px 100px);
  grid-gap: 10px;
  padding: 10px;
  background-image: url(https://zone1-ibizaspotlightsl.netdna-ssl.com/sites/default/files/styles/embedded_auto_740_width/public/article-images/130127/coupon-1521544278.jpg?itok=9hgTOOF_);
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  height: 500px;
  align-content: center;
  border: 200px yellow dotted;
  border-radius: 10px;
}

.box {
  background-color: red;
  color: black;
  border: 20px yellow dotted;
  visibility: visible;
}

.a {
  grid-area: 1 / 1 / 3 / span 3;
}


.attention {
  color: maroon;
  font-size: 28px;
  text-transform: uppercase;
}

.quote {
  font-style: italic;
  font-family: cursive;
}

#testing_ids {
  text-decoration: underline;
  text-transform: capitalize;
}

#testingids {
  font-family: Times;
  color: green;
  font-style: bold;
}

h1.attention {
  font-size: 50px;
}

h1.attention.real {
  font-size: 10px;
}

.description {
  font-size: 3rem;
}

.description h5 {
  font-size: 1.5rem;
}

h2, h3 {
  color: BlueViolet;
}

.centered_box {
  width: 200px;
  height: 100px;
  border: 3px solid coral;
  color: blue;
  background-color: yellow;
  margin: 0 auto;
  padding: 20px 10px;
  overflow: scroll;
}

