h1 {
  font-size: 100px;
}

.grid {
  display: grid;
  width: 100%;
  height: 500%;
  grid-template: 100px 1fr 3fr / 1fr 2fr;
}

.box {
  background-color: red;
  color: black;
  border: 5px yellow dotted;
}
