h1 {
  font-size: 100px;
}

.grid {
  display: grid;
  grid-template: 100px minmax(100px, 500px) / repeat(2, 37px 100px);
  grid-gap: 10px;
  padding: 10px;
}

.box {
  background-color: red;
  color: black;
  border: 20px yellow dotted;
}

.a {
  grid-area: 1 / 1 / 3 / span 3;
}
